.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.6) !important; /* 70% непрозрачности */
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: translateY(-20px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 0;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translateY(-20px);
  opacity: 0;
}